{% extends "layout.html" %}

{% block title %}
    About Me
{% endblock %}

{% block main %}
    <div class="container">
            <!-- Section for feature easter eggs -->
            <h2> About Me </h2>
            <div class="spacer"></div>
            <img src="static/img/vivi.png" class="img-thumbnail" width="200" height="200" alt="profile-img">
            <div class="spacer"></div>
            <q>Success is a journey, not a destination.</q>
            <div class="spacer"></div>
            <p> Hi, my name is Tong Sirawich i'm from Thailand 🇹🇭
            <br> In the past, I have work with some web development before but I always use prebuilt service not an actual code.
            <br> So, I'm pound to say this is my very first Web application that build from scratch, having fun building with some headache
            <br> Big Thanks! for CS50 team that providing such a great learning course for beginner like me, much love!
            </p>
            <div class="spacer"></div>
        </div>
{% endblock %}